body {
    background-color: yellow;
    font-family: arial;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  margin: 20;
}

a {
    color:black;
    text-decoration: none;
}

a:hover
{
     color:grey;
     text-decoration:none;
     cursor:pointer;
}
